.room-container {
  display: flex;
  flex-flow: column nowrap;
}
.room-container md-card {
  margin: 16px;
}

.room-container md-card-actions {
  padding-left: 8px;
}

.app-spinner {
  margin:auto;
}
