<div class="room-container">
  <md-card *ngFor="let room of rooms | async">
    <md-card-title>
      {{ room.name }}
    </md-card-title>
    <md-card-content>
      <p>{{ room.description }}</p>
    </md-card-content>
    <md-card-actions>
        <a [routerLink]="['/rooms', room.$key, 'chat']" md-raised-button color="primary" (click)="selectRoom(room)">JOIN</a>
      </md-card-actions>
  </md-card>
  <div *ngIf="(rooms | async)?.length < 1" style="padding-top:150px">
    <md-spinner class="app-spinner"></md-spinner>
  </div>
</div>
