<md-toolbar class="app-toolbar" color="primary">
  
  <button md-icon-button (click)="goBack()" *ngIf="room?.name?.length > 0">
    <md-icon>keyboard_arrow_left</md-icon>
  </button>

  <div class="app-toolbar-title">DevDays</div>

  <div class="app-toolbar-filler"></div>

  <span class="app-toolbar-user">{{ user?.pseudo }}</span>

  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon class="app-icon-user" *ngIf="user?.pseudo?.length > 0" >account_circle</md-icon>
  </button>
  
</md-toolbar>

<md-menu #menu="mdMenu" x-position="before" >
  <button md-menu-item >none</button>
  <button md-menu-item (click)="goToRooms()">rooms </button>
  <button md-menu-item (click)="logout()">logout</button>
</md-menu>