<md-card>
  <md-card-content>
    <form (ngSubmit)="saveMessage()"  #messageForm="ngForm">
      <textarea [(ngModel)]="chatModel.body" name="body" required></textarea>
      <button md-mini-fab color="primary" type="submit" [disabled]="!messageForm.form.valid">
          <md-icon class="md-24">send</md-icon>
      </button>
      <!--<div>
        <button md-raised-button color="primary" type="submit" [disabled]="!messageForm.form.valid">Send</button>
      </div>-->
    </form>
  </md-card-content>
</md-card>