textarea {
  width: 83%;
  border: 1px #9e9e9e solid;
  /*display: block;*/
  resize: vertical;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
}

div {
  width:100%;
  text-align:right;
}

md-card {
  padding: 15px;
}
button {
  padding-left:3px;
  top: -12px;
  left: 10px;  
}
