md-card {
  margin-bottom: 10px;
  padding: 15px;
}

md-card.my-message {
  background-color: #e3e3e3; /* #4BB4E6; */
}

md-card.my-message .message-author {
  color:#ff6600; /* white;*/
}

md-card-title {
  font-size:20px;
  margin-bottom: 8px;
}l

md-card-content {
  font-size:15px;
}

.message-date {
  float:right;
  font-size: medium;
}

.message-author {
  color: #4BB4E6;
}