md-card {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/*md-card.my-message {
  background-color: #e3e3e3;  #4BB4E6; 
}*/

md-card.my-message .message-author, 
md-card.my-message .message-date {
  color:#ff6600; /* white;*/
}

md-card-title {
  font-size:20px;
  margin-bottom: 8px;
}

md-card-content {
  font-size:15px;
}

.message-date {
  float:right;
  font-size: medium;
}

.message-author, .message-date {
  color: #4BB4E6;
}